@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/*
    GLOBAL
*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
    scroll-behavior: none;
}

:root{
    --red:rgb(231,60,60);
    --bg:rgb(2,2,2);
    --bg2:#0a0909;
    --light:#f1f1f1;
    --link:rgb(155,40,40);
}

html{
    font-size: 62.50%;
    overflow-x: hidden;

}

body{
    background: var(--bg);
    color: var(--light);
    position: relative;

}

section{
    padding: 10rem 7% 2rem;
    min-height: 100vh;
}

span{
    color:var(--red)
}


/*
    Navigation et Header
*/

header{
    position: fixed;
    z-index: 100;
    background: var(--bg);
    top:0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 2rem;
    display: flex;
    align-items: center;
    align-content: space-between;

}

header.sticky{
    border-bottom: .1rem solid rgba(0,0,0,.2);
}

.logo{
    font-size: 2.5rem;
    color: var(--light);
    font-weight: 800;
}

.logo san {
    font-weight: 400;
}
